.cakeBox {
    display: flex;
    flex-direction: column;
}

.cakeImage img {
    width: 25rem;
    margin-bottom: 1rem;
}
.cakeDetail {
    display: flex;
}
.price {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cakeImage {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cakeIngredients {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 1.5rem;
}

.cakeIngredients ul {
    list-style-type: square;
}

.thanks-msg {
    margin-top: 1rem;
    color: var(--gold);
    font-weight: bold;
}