.order-contents {
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem;
}
.item {
    margin-bottom: 0.5rem;
}
.no-order-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}