.cart {
    margin: 2rem 8rem;
}

.cart-contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.cart-contents table {
    margin-bottom: 2rem;
}
.cart-contents table th {
    text-align: left;
    background-color: var(--brown);
    color: var(--base);
    padding: 0.5rem;
}
.cart-contents table td {
    padding: 0.5rem 0;
}

.cakeLink {
    cursor: pointer;
}

.cart button {
    height: 2.5rem;
    width: 10rem;
}

.cart-total {
    display: flex;
    justify-content: space-between;
}


.cart-total .grand-total {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--brown);
}

.booking-date label {
    margin-right: 2rem;
    line-height: 2rem;
}