.cart {
    margin: 2rem 8rem;
}

.cart-contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.cart button {
    height: 2.5rem;
    width: 10rem;
}

.cart-total {
    display: flex;
    justify-content: space-between;
}


.cart-total .grand-total {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--brown);
}
#clear-cart {
    background-color: var(--gold);
    margin-left: 0.5rem;
}

.booking-date label {
    margin-right: 2rem;
    line-height: 2rem;
}

.error-message {
    color: var(--alert);
    font-weight: 800;
}