.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--brown);
    color: var(--gold);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: bold;
}
.logo-link {
    text-decoration: none;
}