/* CSS Custom Properties */
:root {
  --base: #F2EFEA;
  --brown: #33261D;
  --gold: #C2A56C;
  --light-gold: #E6C9A2;
  --alert: #800000;
  --text-dark: #615954;
  --white: #FFFFFF;
  --tan-2: #E7E2DD;
  --text-light: #968c84;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base);
  color: var(--text-dark);
  padding: 2vmin;
  height: 100vh;
}

h1, h2, h3, .logo {
  font-family: 'Playwrite FR Moderne',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a:visited, a:link {
  color: var(--brown);
}

input {
  border: .1vmin var(--text-light) solid;
}

table.lineitem-table {
  margin-bottom: 2rem;
}
table.lineitem-table th {
  text-align: left;
  background-color: var(--brown);
  color: var(--base);
  padding: 0.5rem;
}
table.lineitem-table td {
  padding: 0.5rem 0;
}

.no-item-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/* sign-up and login forms */
.auth-button {
  margin: 2rem 0;
  height: 2.5rem;
  width: 10rem;
  background-color: var(--gold);
}
#entry {
  color: var(--brown);
}
.form-button {
  display: flex;
  justify-content: center;
}
.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}
input.auth-item {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  width: 20rem;
  font-size: 1rem;
}

button, a.button {
  color: var(--white);
  background-color: var(--brown);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
}

#root {
  height: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */